*.DS_Store
*.aux
*.bbl
*.blg
*.fls
*.log
*.pdf
*.cb*
*.out
*.bcf
*.pyg
*.run.xml
*.synctex.gz
*.synctex(busy)
*.synctex.gz.sum.synctex
*.fdb_latexmk
_minted-header

paper.dvi
paper.pdf
paper.ps

*~
*.bak

*.sublime-workspace
*.swp
*.swo
.nfs*
_minted-paper*
